{{> head }}

<section class="section-cards">
  <div class="container px-md-0 grid-cards">
    {{#each cards}}
    <div class="card">
      <picture class="card__picture">
        <source
          srcset="@images/home/desktop/image-{{ this.href }}-desktop.jpg?as=avif"
          type="image/avif"
          media="(min-width: 1200px)"
        />
        <source
          srcset="@images/home/desktop/image-{{ this.href }}-desktop.jpg?as=webp"
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="@images/home/tablet/image-{{ this.href }}-tablet.jpg?as=avif"
          type="image/avif"
          media="(min-width: 768px)"
        />
        <source
          srcset="@images/home/tablet/image-{{ this.href }}-tablet.jpg?as=webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <img
          class="card__background"
          src="@images/home/mobile/image-{{ this.href }}.jpg?as=webp"
          alt=""
        />
      </picture>
      <div class="card__wrapper">
        <h2 class="card__heading">{{ this.title }}</h2>
        <a class="card__link" href="/{{ this.href }}">
          view Projects
          <svg width="7" height="8" class="card__icon-arrow" aria-hidden="true">
            <use href="@images/sprite.svg#chevron-right" />
          </svg>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</section>

<section class="section-attributes">
  <svg width="1006" height="594" aria-hidden="true">
    <use href="@images/sprite.svg#leaf-2" />
  </svg>
  <div class="container px-sm-0 grid-block--attributes">
    {{#each attributes}}
    <div class="block-attribute">
      <img
        class="block-attribute__image"
        src="@images/home/desktop/illustration-{{ this.title }}.svg"
        width="202"
        height="202"
        alt=""
      />
      <div class="block-attribute__wrapper">
        <h3 class="block-attribute__heading">{{ this.title }}</h3>
        <p>
          {{ this.text }}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</section>
{{> footer}}
