{{> head }}
<section class="section-hero position-relative max-w-1440px mx-auto">
  <div class="hero">
    <div class="container hero__container">
      <div class="hero__wrapper">
        <h1 class="hero__heading">Award-winning custom designs and digital branding solutions</h1>
        <p class="hero__text">
          With over 10 years in the industry, we are experienced in creating fully responsive
          websites, app design, and engaging brand experiences. Find out more about our services.
        </p>
        <a class="btn" href="/our-company">Learn more</a>
      </div>
      <img
        class="hero__image"
        width="280"
        height="573"
        src="@images/home/desktop/phone.png?as=webp"
        alt="phone"
        loading="eager"
      />
    </div>
  </div>
  <svg
    width="1006"
    height="594"
    class="position-absolute bottom-left-0 translate-y-50 z-n1 d-none d-lg-block"
    aria-hidden="true"
  >
    <use href="@images/sprite.svg#leaf" />
  </svg>
</section>

<section class="section-teasers mb-30 mb-lg-40">
  <div class="container px-sm-0 grid-teasers">
    {{#each teasers}}
    <div class="teaser">
      <picture class="teaser__picture">
        <source
          srcset="@images/home/desktop/image-{{#if this.imageDesktop }}{{ this.imageDesktop }}{{else}}{{ this.slug }}{{/if}}-desktop.jpg?as=avif"
          type="image/avif"
          media="(min-width: 1200px)"
        />
        <source
          srcset="@images/home/desktop/image-{{#if this.imageDesktop }}{{ this.imageDesktop }}{{else}}{{ this.slug }}{{/if}}-desktop.jpg?as=webp"
          type="image/webp"
          media="(min-width: 1200px)"
        />

        <source
          srcset="@images/home/tablet/image-{{ this.slug }}-tablet.jpg?as=avif"
          type="image/avif"
          media="(min-width: 768px)"
        />
        <source
          srcset="@images/home/tablet/image-{{ this.slug }}-tablet.jpg?as=webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <img
          class="teaser__background"
          src="@images/home/mobile/image-{{ this.slug }}.jpg?as=webp"
          width="690"
          height="200"
          alt=""
        />
      </picture>
      <div class="teaser__wrapper">
        <h2 class="teaser__heading">{{ this.title }}</h2>
        <a class="teaser__link" href="/{{ this.slug }}">
          view Projects
          <svg width="7" height="8" class="teaser__icon-arrow" aria-hidden="true">
            <use href="@images/sprite.svg#chevron-right" />
          </svg>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</section>

{{> block-attribute attributes=attributes}}

{{> footer}}
