<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="frontendmentor challenge designo-multipage-website">
    <meta name="keywords" content="frontendmentor, webpack, HTML, CSS, JavaScript">
    <meta name="author" content="Tony Nguyen">
    <link rel="preload" href="@fonts/Jost-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@fonts/Jost-Medium.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@fonts/Jost-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link href="@images/favicon-32x32.png" rel="icon" />
    <script src="@scripts/index.js" defer></script>
    <link rel="stylesheet" href="@styles/style.scss" />
     {{#if leaflet }}<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>{{/if}}

    
 
    <title>{{#if title}}{{title}}{{else}}Designo{{/if}}</title>
  </head>
  <body class="overflow-x-clip">
      
    {{!-- <link rel="stylesheet" href="{{css}}" /> --}}

    {{> navigation}}

    <main class="{{#if margin}}{{margin}}{{else}}mb-121px mb-md-67px mb-xl-40{{/if}}">

